.item-card {
  position: relative;
  max-width: 323px;
  display: flex;
  justify-content: center;
}

.item-card__heading-wrapper {
  position: absolute;
  top: 16px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  max-height: 24px;
  gap: 10px;
}

.item-card__name {
  border-radius: 4px;
  background-color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  padding: 2px 12px;
  max-height: 24px;
  margin: 0;
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
}

.item-card__like-button {
  background: transparent url(../../assets/active-like-button.svg) center
    no-repeat;
  width: 20px;
  height: 18px;
  border: none;
}
.item-card__unlike-button {
  background: transparent url(../../assets/like-button-disabled.svg) center
    no-repeat;
  width: 20px;
  height: 18px;
  border: none;
  padding: 0;
}

.item-card__image {
  width: 323px;
  height: 326px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 19px;
}

@media screen and (min-width: 320px) and (max-width: 550px) {
  .item-card {
    max-width: 280px;
  }
  .item-card__image {
    width: 280px;
    height: 280px;
  }
}
