.page {
  background-color: white;
}

.page__content {
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 40px;
  font-family: "Cabinet Grotesk Regular";
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
}
