.header {
  display: flex;
  align-items: center;
  padding: 32px 0 28px;
}

.header__logo {
  margin-right: 24px;
}

.header__date-and-location {
  margin: 0;
}

.header__add-clothes-btn {
  border-style: none;
  margin: 0 20px;
  padding: 0;
  font-weight: 700;
  background-color: white;
}

.header__profile-link {
  text-decoration: none;
  color: black;
}

.header__user-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header__username {
  margin: 0;
}

@media screen and (min-width: 320px) and (max-width: 743px) {
  .header {
    flex-direction: column;
    gap: 30px;
    align-items: center;
  }

  .header__logo {
    margin-right: 0;
    margin-bottom: 30px;
  }

  .header__add-clothes-btn {
    border: solid 4px black;
    margin: 20px 0 0;
    padding: 8px;
  }

  .header__user-container {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    margin-top: 20px;
  }
}

@media screen and (min-width: 745px) and (max-width: 800px) {
  .header__username {
    max-width: 80px;
  }
}

@media screen and (min-width: 744px) and (max-width: 1084px) {
  .header {
    font-size: 16px;
    line-height: 1.2;
  }
}
