.footer {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-top: 85px;
  display: flex;
  justify-content: space-between;
  max-width: 1358px;
  padding: 0 0 24px;
}

.footer__copywright {
  margin: auto 0;
}

.footer__year {
  margin: 0;
}

@media screen and (min-width: 320px) and (max-width: 550px) {
  .footer {
    font-size: 12px;
    line-height: 1.2;
  }
}

@media screen and (min-width: 744px) and (max-width: 1084px) {
  .footer {
    font-size: 14px;
    line-height: 1.2;
  }
}
