.footer {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-top: 171px;
  display: flex;
  justify-content: space-between;
  max-width: 1358px;
  padding: 0 0 24px;
}

.footer__author {
  margin: 0;
}

.footer__copywright {
  margin: 0;
}
